* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Serif Display", "Jost", serif;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.center {
  padding-right: calc(50% - 600px);
  padding-left: calc(50% - 600px);
}

.headerLine {
  padding-top: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.headerLine_logo {
  display: flex;
  flex-direction: row;
}
.headerLine_logoText {
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  padding-left: 10px;
  color: #292F36;
}
.headerLine_bredCrambs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.headerLine .crambs {
  text-decoration: none;
  color: #292F36;
  font-family: Jost;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
}

.bunner {
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
  margin-top: 57px;
}
.bunner_img {
  width: 100%;
  height: auto;
  display: block;
  top: 0;
  left: 0;
  border-radius: 30px;
}
.bunner_info {
  width: 434px;
  position: absolute;
  top: 30%;
  padding-left: 3%;
  color: #292F36;
}
.bunner_info_tituleContent {
  font-weight: 400;
  font-size: 65px;
  line-height: 81px;
  text-align: left;
}
.bunner_info_text {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: left;
}
.bunner_button {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 21px;
  width: 220px;
  height: 75px;
  padding: 26px 49px 26px 48px;
  gap: 10px;
  border-radius: 18px 18px;
  background-color: #292F36;
  font-size: 18px;
  color: aliceblue;
  border: none;
}

.content {
  margin-top: 96px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.content_heading {
  width: 737px;
  text-align: center;
}
.content_headin_titule {
  font-size: 50px;
  font-weight: 400;
  line-height: 62.5px;
  letter-spacing: 0.02em;
}
.content_heading_text {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
}

.content_carts {
  margin-top: 93px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 56px;
}
.content_carts_cart_img1 {
  width: 525px;
  height: 525px;
  background-image: url(./img/Image_cart1.jpg);
}
.content_carts_button {
  width: 70px;
  height: 70px;
  background-color: #F4F0EC;
  border: none;
  border-radius: 50%;
  color: #292F36;
  font-size: 22px;
}
.content_carts_cart_block {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content_carts_cart_text_h {
  font-size: 25px;
  font-weight: 400;
  line-height: 31.25px;
}
.content_carts_cart_text_p {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
}
.content_carts_cart_img2 {
  width: 525px;
  height: 525px;
  background-image: url(./img/Image+cart2.jpg);
}
.content_carts_cart_img3 {
  width: 525px;
  height: 525px;
  background-image: url(./img/Image+cart3.jpg);
}
.content_carts_cart_img4 {
  width: 525px;
  height: 525px;
  background-image: url(./img/Image+cart4.jpg);
}

.counter {
  margin-top: 96px;
  background-color: #F4F0EC;
  display: flex;
  justify-content: center;
  width: 100%;
}
.counter_blocks {
  padding-top: 151px;
  padding-bottom: 151px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 76px;
}
.counter_block {
  text-align: center;
  padding-right: 54px;
  border-right: solid 2px #CDA274;
}
.counter_block_h {
  padding-bottom: 6px;
  font-size: 85px;
  font-weight: 400;
  line-height: 106.25px;
  color: #CDA274;
}
.counter_block_p {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
}
.counter .block4 {
  border-right: none;
  padding-right: 0px;
}

.blog {
  margin-top: 52px;
  display: flex;
  justify-content: space-between;
}
.blog_cart {
  width: 382px;
  border: solid 0.5px rgb(214, 213, 219);
  border-radius: 30px;
}
.blog_cart_child {
  position: relative;
  margin: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog_cart_button {
  position: absolute;
  width: 129px;
  height: 41px;
  background-color: white;
  border: none;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  margin-right: 170px;
  margin-top: 30px;
}
.blog .blog_2 img {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.blog_cart_child_titul {
  padding-top: 21px;
}
.blog_cart_child_titul h3 {
  height: 75px;
  font-size: 25px;
  font-weight: 400;
  line-height: 31.25px;
  padding-right: 60px;
}
.blog_cart_buttonblock {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog_cart_btn {
  width: 50px;
  height: 50px;
  background-color: #F4F0EC;
  border: none;
  border-radius: 50%;
  color: #292F36;
  font-size: 22px;
}

.blog_cart:hover {
  background-color: #F4F0EC;
}
.blog_cart:hover .blog_cart_btn {
  background-color: white;
}

.footer {
  margin-top: 96px;
  height: 406px;
  display: flex;
  justify-content: space-between;
}
.footer_blog {
  width: 33.3333333333%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer_pages {
  margin-left: 100px;
}
.footer_pages a {
  text-decoration: none;
  color: #292F36;
}
.footer_contact {
  margin-left: 180px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer_p {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  font-family: Jost;
}
.footer_h {
  font-size: 25px;
  font-weight: 400;
  line-height: 31.25px;
  color: black;
}/*# sourceMappingURL=style.css.map */